Source: rioma
Section: games
Priority: optional
Maintainer: Sriteja Sugoor <sritejakittu777@gmail.com>
Standards-Version: 4.1.2
Build-Depends: debhelper (>= 9.20120311)
#Vcs-Git: https://anonscm.debian.org/git/collab-maint/moodle.git
#Vcs-Browser: https://anonscm.debian.org/cgit/collab-maint/moodle.git

Package: rioma
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, python3
Description: This is a terminal game.
 A terminal game with many cool features like multiplayer, emoji players etc. You will have a lots of fun playing this game.
